<?xml version="1.0"?>
<launch>

  <rosparam command="load" file="$(find homere_bbb)/config/control.yaml" />

  <node name="base_controller_spawner" pkg="controller_manager" type="spawner" args="homere_joint_publisher"/>
  <!--  <node name="base_controller_spawner" pkg="controller_manager" type="spawner" args="oscar_imu_controller"/> -->

</launch>
