
<!-- https://stackoverflow.com/questions/10769016/display-image-on-text-link-hover-css-only -->

.hover_img a { position:relative; }
.hover_img a span { position:absolute; display:none; z-index:99; }
.hover_img a:hover span { display:block; width: 750px;}

